/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card-img-overlay {
  background: #162156a6;
  margin-top: 28%;
}
.card {
  font-size: 20px;
}
.btn{
  bottom: 0px;
    top: 87%;
    border-radius: 3px;
}

